
main{
    display: flex;
    justify-content: space-evenly;
}
section{
    display: inline-flex ;
    width: 40%;
    border: var(--clr-dark) 5px dashed;
    margin: 4px;
    object-fit: contain;
}
h1{
    width: 100%;
    align-items: center;
    text-align: center;
    border: var(--clr-dark) 5px solid;
    padding: 25%;
    display: flex;
    font-size: 40px;
    margin: 4px;
    background: linear-gradient(
        to bottom,
        rgba(6, 105, 76, 0.5),
        rgb( 0 0 255 /50%));
}
form{
    border: var(--clr-dark) 5px solid; 
    padding: 25%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin: 4px;
}
h2{
    justify-content: space-around;
    text-align: center;
    font-size: 40px;
}
button{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-size: 15px;
}